/* = iPhone  */
@media (max-width: 740px) {
  html body {
    font-size: 14px;
    line-height: 22px;
  }
  html body h2 {
    font-size: 24px;
  }
  html body h3 {
    font-size: 20px;
  }
  html body nav.hover + .layout {
    margin-left: 200px;
  }
  html body nav ul li {
    min-height: 32px;
  }
  html body nav ul li li {
    min-height: 22px;
  }
  html body nav a {
    padding-left: 6px;
    padding-top: 2px;
  }
  html body nav figure {
    font-size: 20px;
    top: 3px;
    left: 0px;
    width: 26px;
    height: 26px;
  }
  html body nav figure.icon-defiantjs {
    font-size: 16px;
    left: 2px;
  }
  html body nav figure.icon-hb {
    font-size: 24px;
    top: 1px;
    left: -2px;
  }
  html body section.layout {
    margin-left: 32px;
    padding: 20px 15px;
  }
  html body section.layout .content {
    width: 312px;
  }
  html body section.layout .content .intro {
    margin-bottom: 20px;
  }
  html body section.layout .content .intro h1 {
    width: 150px;
    height: 36px;
    margin-bottom: 20px;
  }
  html body section.layout .content .intro p {
    position: relative;
    left: auto;
    margin-bottom: 10px;
  }
  html body section.layout .content .intro a.link-left,
  html body section.layout .content .intro a.link-right {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    display: block;
    margin: 0px 0px 10px;
    padding-left: 30px;
  }
  html body section.layout .content .intro a.link-left figure,
  html body section.layout .content .intro a.link-right figure {
    position: absolute;
    top: -1px;
    left: 0px;
  }
  html body section.layout .content table.xpath-expressions tr th:first-child,
  html body section.layout .content table.xpath-expressions tr td:first-child {
    width: 30px;
  }
  html body section.layout .content table.xpath-expressions tr td {
    font-size: 12px;
    line-height: 18px;
  }
  html body section.layout code {
    font-size: 10px;
  }
  html body section.layout .gist-code * {
    font-size: 8px !important;
    line-height: 12px !important;
  }
}
